<div class="page--article">
  <% if(toc(post.content)){ %>
    <div class="toc-container">
      <%- toc(post.content) %>
      <div class="toc-tip">Table of Contents ▼</div>
    </div>
  <% } %>


  <div class="container">
    <article>
      <h1><%= post.title %></h1>
      <%- page.content %>
  </article>
    <% if(page.type === 'categories'){ %>
      <%- list_categories() %>
    <% } %>
  </div>
</div>
