<header>
  <a href="#">
    <img src="" alt="voya" class="logo">
  </a>
  <nav>
    <ul>
      <li><a href="">首页</a></li>
      <li><a href="">归档</a></li>
      <li><a href="">分类</a></li>
      <li><a href="">标签</a></li>
      <li><a href="">关于</a></li>
    </ul>
  </nav>
</header>