<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv=”Cache-Control” content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%
    let title = page.title;
    if (is_archive()){
      title = '归档';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = '分类: ' + page.category;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= theme.favicon %>">
  <%- partial('_partial/style') %>
</head>