<header class="main-header">
  <div class="container">
    <a href="#" class="logo">
      <img src="<%= theme.logo %>" alt="<%= theme.title %>" class="logo-img">
    </a>
    <span class="nav-separator"></span>
    <form class="search-form">
      <input type="search" placeholder="搜索文章" />
      <i class="fas fa-search"></i>
    </form>

    <nav class="main-nav">
      <ul class="nav-list">
        <% for(let i in theme.menu){ %>
          <li class="nav-link"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>