/* home page
  ========================================================================== */
.page--article-list{
  width: 100%;
  background: #fff;
}

/* article page
  ========================================================================== */
.page--article{
  min-height: calc(~"100vh - 100px");
  padding-top: 20px;
  padding-bottom: 20px;

  background: #F6F8FA;
  overflow: hidden;  // bfc

  > .container{
    background: #fff;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 815px) {
    > .container{
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/* archive page
  ========================================================================== */
.page--archive{
  padding-top: 24px;
  min-height: calc(~"100vh - 100px");
}
