h1, h2, h3, h4, h5, h6{
  margin-top: .7em;
  margin-bottom: .2em;
  line-height: 1.1em;
  font-weight: 300;
}
h1{
  font-size: 2.25em;
}
h2{
  font-size: 2em;
  margin-bottom: .8em;
}
h3{
  font-size: 1.7em;
}
h4{
  font-size: 1.4em;
}
h5, h6{
  font-size: 1.2em;
}
p{
  line-height: 1.8em;
  margin: 0 0 8px;
}

blockquote{
  margin: 0;
  padding: 0 .6rem;
  border-left: 0.2rem solid #dfe2e5;
  color: #6a737d;
}
