/**
 * 1. set border-box as default box-sizing
 * 2. remove the gray background color from tab, default value is inherit
**/
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 10px;
  color: #24292e;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea,
button {
  outline: 0;
}
textarea,
input {
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  padding: 0;
}
/**
* custom style
*/
a {
  color: #0366d6;
}
img {
  max-width: 100%;
}
input {
  height: 30px;
  line-height: 30px;
  padding: 0 8px 0 10px;
  border: 1px solid #e3e3e3;
  outline: none;
  border-radius: 4px;
  transition: all 0.25s;
}
input:focus {
  border-color: #56b7fc;
}
/**
* utils
*/
b,
strong,
.bold {
  font-weight: 600 !important;
}
.container {
  max-width: 815px;
  margin: auto;
}
@media screen and (max-width: 830px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.hljs {
  padding: 16px;
  background: #f6f8fa;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #d73a49;
}
.hljs-string {
  color: #032f62;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #005cc5;
}
/* home page
  ========================================================================== */
.page--article-list {
  padding-top: 4rem;
  width: 100%;
  background: #fff;
}
/* article page
  ========================================================================== */
.page--article {
  min-height: calc(100vh - 100px);
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: #434343;
  overflow: hidden;
}
.page--article > .container {
  background: #fff;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 0 2rem 2.8rem -0.6rem rgba(5, 3, 3, 0.4);
}
@media screen and (max-width: 815px) {
  .page--article > .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
/* archive page
  ========================================================================== */
.page--archive {
  padding-top: 2.4rem;
  min-height: calc(100vh - 100px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .2em;
  line-height: 1.1em;
  font-weight: normal;
}
h1 {
  font-size: 2.86em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.63em;
}
h3 {
  font-size: 1.7em;
  margin-bottom: 0.83em;
}
h4 {
  font-size: 1.4em;
}
h5,
h6 {
  font-size: 1.2em;
}
p {
  margin: 0 0 16px;
}
blockquote {
  margin: 0;
  padding: 0 .6rem;
  border-left: 0.2rem solid #dfe2e5;
  color: #6a737d;
}
b {
  background-color: #ffeec9;
}
/**
* article
*/
.page--article {
  text-align: justify;
  font-size: 14px;
  color: #24292e;
  line-height: 1.5;
}
.page--article h1,
.page--article h2,
.page--article h3,
.page--article h4,
.page--article h5,
.page--article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.page--article h1,
.page--article h2 {
  font-size: 2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}
.page--article h2 {
  font-size: 1.5em;
}
.page--article h3 {
  font-size: 1.25em;
}
.page--article h4 {
  font-size: 1.06em;
}
.page--article h5 {
  font-size: .875em;
}
.page--article h6 {
  font-size: .85em;
  color: #6a737d;
}
.page--article ul,
.page--article ol {
  padding-left: 2.2em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
.page--article li > :first-child {
  margin-bottom: 0;
}
.page--article img {
  display: block;
  margin: .5em auto;
  max-width: 100%;
  height: auto;
}
.page--article .page--article--title {
  padding-bottom: 0;
  border: none;
}
.page--article .page--article--date-info {
  padding: 8px;
  margin-bottom: 1.6rem;
  background: #F6FFEE;
  color: rgba(0, 0, 0, 0.85);
}
.main-header {
  height: 5rem;
  background: #FDFDFD;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
}
.main-header > .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
/* logo
  ========================================================================== */
.logo {
  height: 4rem;
  margin-right: 1.2rem;
}
.logo-img {
  width: 4rem;
  height: 4rem;
}
/* nav
  ========================================================================== */
.main-nav {
  flex-grow: 1;
  transition: height 284ms ease 0s;
}
.main-nav .nav-list {
  display: flex;
  justify-content: flex-end;
}
.main-nav .nav-list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 5rem;
  font-size: 1.4rem;
  padding: 0 1.4rem;
  border-bottom: 2px solid transparent;
}
.main-nav .nav-list .nav-icon {
  display: none;
}
.main-nav .nav-list .nav-link {
  transition: height 0.2s ease-in-out;
}
.main-nav .nav-list .nav-link:hover,
.main-nav .nav-list .nav-link.active {
  border-bottom: 2px solid #2593FC;
}
.main-nav .nav-list a {
  color: #71777c;
}
.main-nav .nav-list a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-icon {
  display: none;
  font-size: 1.6rem;
  color: #2e2e2e;
}
@media screen and (max-width: 600px) {
  .main-nav {
    position: absolute;
    top: 5rem;
    left: -1.5rem;
    right: -1.5rem;
    height: 0;
    overflow: hidden;
    z-index: 1;
  }
  .nav-icon {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  .main-nav.responsive {
    position: absolute;
    top: 5rem;
    left: -1.5rem;
    right: -1.5rem;
    background: rgba(242, 242, 242, 0.98);
    border-top: 1px solid #F3F3F3;
    box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
    height: auto;
  }
  .main-nav.responsive .nav-list {
    flex-direction: column;
  }
  .main-nav.responsive .nav-list .nav-link.active,
  .main-nav.responsive .nav-list .nav-link:hover {
    border-bottom: none;
  }
  .main-nav.responsive .nav-list .nav-link.active a {
    color: #0366d6;
  }
}
/* nav-separator
  ========================================================================== */
.nav-separator {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  height: 2.4rem;
  border-left: 1px solid #ebedee;
  line-height: 1;
  height: 2.2rem;
  vertical-align: middle;
  display: inline-block;
}
/* nav search
  ========================================================================== */
.search-form {
  position: relative;
  font-size: 1.4rem;
}
.search-form input {
  padding-left: 2.8rem;
  border: none;
  background: transparent;
}
.search-form input::-webkit-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input:-ms-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input::-ms-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input::placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form i {
  color: rgba(149, 154, 163, 0.4);
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.article-list > li {
  list-style: none;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px dashed #f0f0f0;
}
.article-list > li:last-child {
  margin-bottom: 2rem;
  border-bottom-color: transparent;
}
.article-list > li ul,
.article-list > li ol {
  padding-left: 1.4em;
}
.article-list .title {
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: normal;
  color: #262626;
  display: inline-block;
}
.article-list .title small {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.3);
}
.excerpt {
  font-size: 16px;
  color: #595959;
  line-height: 1.8;
}
.excerpt strong,
.excerpt b {
  font-weight: normal;
}
.excerpt em {
  font-style: normal;
}
.excerpt h1,
.excerpt h2,
.excerpt h3,
.excerpt h4,
.excerpt h5,
.excerpt h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.286;
  color: rgba(0, 0, 0, 0.5);
}
.excerpt p {
  margin-bottom: 4px;
}
.excerpt blockquote {
  color: #4c4948;
}
.article-footer {
  font-size: 1.4rem;
}
.tag {
  color: #b4b4b4;
}
.tag:hover {
  color: #787878;
}
.archive-list {
  padding-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.8;
}
.archive-title {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  color: #262626;
}
.archive-title a {
  color: #262626;
}
.archive-title:first-child {
  margin: 0;
}
/* archive item
  ========================================================================== */
.archive-item {
  display: flex;
  color: #434343;
}
.archive-item a {
  color: #434343;
}
.archive-item__date {
  margin-right: 1.2em;
  min-width: 4rem;
}
.category-list {
  list-style: none;
  padding-left: 0 !important;
}
.category-list > li {
  padding-bottom: 1rem;
  margin-right: 3rem;
  display: inline-block;
}
.category-list-link {
  margin-right: 4px;
  color: #434343;
  font-size: 1.6rem;
}
.category-list-count {
  font-size: 1.4rem;
  color: #8c8c8c;
}
@media screen and (min-width: 815px) {
  .page--topic-card {
    padding: 2.4rem 0;
    background: #fdf5ef;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .topic-card.container {
    flex: 1;
    display: flex;
    border: 1px solid #f09251;
  }
  .topic-card__title {
    display: flex;
    padding: 40px 40px;
    width: 20%;
    background: #1e1e36;
    color: #fff;
  }
  .topic-card__title .archive-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    word-break: keep-all;
    font-family: Serif;
  }
  .topic-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 40px 40px;
    background: #fff;
  }
  .topic-card__content .archive-item {
    align-items: center;
  }
  .topic-card__content .archive-item__date {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
  }
  .topic-card__content .archive-item__title a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;
  }
}
.toc-container {
  display: flex;
  position: fixed;
  top: 0;
  font-size: 1.4rem;
  left: calc(-230px + 1.2em);
  height: 100vh;
  width: 230px;
  overflow-x: hidden;
  background: #F8F8F8;
  transition: all .38s;
}
.toc-container ol {
  list-style: none;
  line-height: 1.4em;
}
ol.toc-child {
  padding-left: 1em;
}
.toc-level-2 {
  font-size: 1.6rem;
  margin-bottom: 1em;
}
.toc-level-3 {
  font-size: 1.4rem;
}
.toc-link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toc-tip {
  position: relative;
  padding-top: 1em;
  width: 1.2em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background: rgba(0, 0, 0, 0.7);
  color: #CCCCCC;
}
.toc-tip::after {
  position: absolute;
  content: '\25BC';
}
.toc {
  padding: 1em;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
}
.toc-container.show {
  left: 0;
}
.toc-container.show .toc-tip::after {
  position: absolute;
  content: "\25C0";
}
@media screen and (max-width: 815px) {
  .toc-container {
    display: none;
  }
}
.page-number {
  padding: 0 4px;
  font-size: 1.4rem;
}
.main-footer {
  height: 5rem;
}
.main-footer .container {
  padding: 1.5rem 0;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.3);
}

