/**
 * 1. set border-box as default box-sizing
 * 2. remove the gray background color from tab, default value is inherit
**/
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-family: "Hiragino Sans GB", "\534E\6587\7EC6\9ED1", "STHeiti", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea,
button {
  outline: 0;
}
textarea,
input {
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  padding: 0;
}
/**
* custom style
*/
a {
  color: #0366d6;
}
img {
  max-width: 100%;
}
input {
  height: 30px;
  line-height: 30px;
  padding: 0 8px 0 10px;
  border: 1px solid #e3e3e3;
  outline: none;
  border-radius: 4px;
  transition: all 0.25s;
}
input:focus {
  border-color: #56b7fc;
}
/**
* utils
*/
.bold {
  font-weight: bold !important;
}
.container {
  max-width: 815px;
  margin: auto;
}
@media screen and (max-width: 830px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* home page
  ========================================================================== */
.page--article-list {
  width: 100%;
  background: #fff;
}
/* article page
  ========================================================================== */
.page--article {
  min-height: calc(100vh - 100px);
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F6F8FA;
  overflow: hidden;
}
.page--article > .container {
  background: #fff;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 815px) {
  .page--article > .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}
/* archive page
  ========================================================================== */
.page--archive {
  padding-top: 24px;
  min-height: calc(100vh - 100px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .2em;
  line-height: 1.1em;
  font-weight: 300;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
  margin-bottom: .83em;
}
h3 {
  font-size: 1.7em;
  margin-bottom: .83em;
}
h4 {
  font-size: 1.4em;
}
h5,
h6 {
  font-size: 1.2em;
}
p {
  line-height: 1.8em;
  margin: 0 0 .8em;
}
blockquote {
  margin: 0;
  padding: 0 .6rem;
  border-left: 0.2rem solid #dfe2e5;
  color: #6a737d;
}
code {
  padding: .2rem .4rem;
  font-size: 90%;
  background-color: #f8f9fa;
  color: #bd4147;
  border-radius: .25rem;
}
/**
* article
*/
.page--article {
  text-align: justify;
  font-size: 16px;
}
.page--article h1 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.95552em;
  font-weight: bold;
}
.page--article h2 {
  font-size: 1.25em;
  font-weight: bold;
}
.page--article h3 {
  font-size: 1.125em;
  font-weight: bold;
}
.page--article ul,
.page--article ol {
  padding-left: 2.2em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
.page--article li > :first-child {
  margin-bottom: 0;
}
.page--article img {
  display: block;
  margin: .5em auto;
  max-width: 100%;
  height: auto;
}
.main-header {
  height: 50px;
  background: #FDFDFD;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
}
.main-header > .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
/* logo
  ========================================================================== */
.logo {
  height: 40px;
  margin-right: 1.2rem;
}
.logo-img {
  width: 40px;
  height: 40px;
}
/* nav
  ========================================================================== */
.main-nav {
  flex-grow: 1;
  transition: height 284ms ease 0s;
}
.main-nav .nav-list {
  display: flex;
  justify-content: flex-end;
}
.main-nav .nav-list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50px;
  font-size: 1.17rem;
  padding: 0 1.2rem;
  border-bottom: 2px solid transparent;
}
.main-nav .nav-list .nav-icon {
  display: none;
}
.main-nav .nav-list .nav-link {
  transition: height 0.2s ease-in-out;
}
.main-nav .nav-list .nav-link:hover,
.main-nav .nav-list .nav-link.active {
  border-bottom: 2px solid #2593FC;
}
.main-nav .nav-list a {
  color: #71777c;
}
.main-nav .nav-list a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-icon {
  display: none;
  font-size: 16px;
  color: #2e2e2e;
}
@media screen and (max-width: 600px) {
  .main-nav {
    position: absolute;
    top: 50px;
    left: -15px;
    right: -15px;
    height: 0;
    overflow: hidden;
    z-index: 1;
  }
  .nav-icon {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  .main-nav.responsive {
    position: absolute;
    top: 50px;
    left: -15px;
    right: -15px;
    background: rgba(242, 242, 242, 0.98);
    border-top: 1px solid #F3F3F3;
    box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
    height: auto;
  }
  .main-nav.responsive .nav-list {
    flex-direction: column;
  }
  .main-nav.responsive .nav-list .nav-link.active,
  .main-nav.responsive .nav-list .nav-link:hover {
    border-bottom: none;
  }
  .main-nav.responsive .nav-list .nav-link.active a {
    color: #0366d6;
  }
}
/* nav-separator
  ========================================================================== */
.nav-separator {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  height: 24px;
  border-left: 1px solid #ebedee;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
}
/* nav search
  ========================================================================== */
.search-form {
  position: relative;
}
.search-form input {
  padding-left: 28px;
  border: none;
  background: transparent;
}
.search-form input::-webkit-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input:-ms-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input::-ms-input-placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form input::placeholder {
  color: rgba(149, 154, 163, 0.4);
}
.search-form i {
  color: rgba(149, 154, 163, 0.4);
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.article-list {
  margin-top: 24px;
}
.article-list > li {
  list-style: none;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #f0f0f0;
}
.article-list > li:last-child {
  margin-bottom: 20px;
  border-bottom-color: transparent;
}
.article-list > li ul,
.article-list > li ol {
  padding-left: 1.4em;
}
.article-list .title {
  font-size: 24px;
  font-weight: normal;
  color: #2e2e2e;
  display: inline-block;
}
.article-list .title small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.excerpt {
  color: #4c4948;
  line-height: 1.8;
}
.excerpt strong,
.excerpt b {
  font-weight: normal;
}
.excerpt em {
  font-style: normal;
}
.excerpt h1,
.excerpt h2,
.excerpt h3,
.excerpt h4,
.excerpt h5,
.excerpt h6 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.excerpt p {
  margin-bottom: 4px;
}
.excerpt blockquote {
  color: #4c4948;
}
.article-footer {
  font-size: 12px;
}
.tag {
  color: #b4b4b4;
}
.tag:hover {
  color: #787878;
}
.archive-list {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.8;
}
.archive-title {
  margin-top: 24px;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\534E\6587\7EC6\9ED1", "STHeiti", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", SimHei, Arial, sans-serif;
  font-size: 24px;
  color: #2e2e2e;
}
.archive-title a {
  color: #2e2e2e;
}
.archive-title:first-child {
  margin: 0;
}
/* archive item
  ========================================================================== */
.archive-item {
  display: flex;
  color: #6a737d;
}
.archive-item a {
  color: #6a737d;
}
.archive-item__date {
  margin-right: 1.2em;
  min-width: 40px;
}
.category-list {
  list-style: none;
  padding-left: 0 !important;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\534E\6587\7EC6\9ED1", "STHeiti", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", SimHei, Arial, sans-serif;
}
.category-list > li {
  padding-bottom: 10px;
  margin-right: 30px;
  display: inline-block;
}
.category-list-link {
  margin-right: 4px;
  color: #6a737d;
  font-size: 18px;
}
.category-list-count {
  font-size: 14px;
  opacity: .5;
}
.toc-container {
  display: flex;
  position: fixed;
  top: 0;
  font-size: 14px;
  left: calc(-230px + 1.2em);
  height: 100vh;
  width: 230px;
  overflow-x: hidden;
  background: #F8F8F8;
  transition: all .3s;
}
.toc-container ol {
  list-style: none;
}
.toc-container.show {
  left: 0;
}
.toc-link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toc-tip {
  padding-top: 1em;
  width: 1.2em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background: rgba(0, 0, 0, 0.7);
  color: #CCCCCC;
}
.toc {
  padding: 1em;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
}
@media screen and (max-width: 815px) {
  .toc-container {
    display: none;
  }
}
.page-number {
  padding: 0 4px;
}
.main-footer {
  height: 50px;
}
.main-footer .container {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.3);
}

